body{
    background-color: #eee;
}
#navbottom{
    margin-bottom: 0;
    border-radius: 0;
}
#sliderid{
    height: 400px;
	width: 100%;
}
.title{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    //outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-align: center;
}
.title h3{
    font-weight: 400;
    color: #959595;
    margin: 0;
}
.nav{
    margin-bottom:0;
}
.dec{
    font-size: 150%;
    line-height: 2em;
    color: #252525;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 2;
    text-align: center;
}


.mid_cont_img{
    padding-top: 50px;
}
.prod_speci{

    border-top: 1px dotted #959595;
    width: 100%;

}



#b2t.affix-top{
    position:absolute;
    bottom: -80px;
    left: 1250px;
}
#b2t.affix{
    position:fixed;
    bottom: 20px;
    left: 1250px;
}
i{
    color: #999999;
    font-size:50px;
    border: 5px solid;
}  
